* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0f1115;
  margin: 0;        
  color: #e6e6e6;
  font-family: system-ui, -apple-system, BlinkMacSystemFont;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.clock {
  font-size: 10vw;
  color: #dcdcdc;
  margin-bottom: 1rem;
}

.weather {
  text-align: center;
}

.temp {
  font-size: 15vw;
  font-weight: bold;
}

.condition {
  font-size: 4vw;
  color: #9aa0a6;
}
